
.first-sec1{ margin-top: 20px;}
.view{ height: 400px;}
.view img{ height: 400px;}
.cl{clear: both;}
.second-sec{ margin-top: 20px;}
.white-text{ padding: 20px; height: 390px;}
.color{ background-color: rgb(81, 84, 250);}
.color2{ background-color: rgb(113, 247, 86);}
.container {
    max-width: 1349px;
}



 a {
    display: block;
    border: 1px solid #fff;
    padding: 15px 20px;
    text-decoration: none;
    margin-top: 40px;
    color: #fff;
    font-size: 15px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;
}