.footer{  background-image: url('/assets/footer-bg.jpg'); padding-bottom: 20px; padding-top: 50px; color: white; margin-top: 30px;}
h6{ font-weight: bold; }
.subs {
    margin-top: 25px;
    position: relative;
}
.subs input[type="text"] {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 12px;
    color: #fff;
    position: relative;
    width: 100%;
}
.email-ico {
    position: absolute;
    right: 12px;
    top: 10px;
}
.mark-sub {
    float: right;
    margin-top: 25px;
}
.mark-sub a {
    width: 130px;
    text-align: center;
    background: #0a86cd;
    display: block;
    float: right;
    border-radius: 15px;
    padding: 8px 9px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #0a86cd;
    transition: all ease 0.5;
}
#sumit_new, #contact_us {
    cursor: pointer;
}
.line{ margin-top: 30px; margin-bottom: 20px; border-bottom: 1px solid #a1a5a6; }
.col-md-6 ul li{ display: block;}
.col-md-6 ul li a{ color: white; text-decoration: none;}

span{
    content: "\f054";
    width: 15px;
    height: 15px;
    font-family: FontAwesome;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
}