<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

                
                <div class="row">
                <div class="col-md-6">
                        <h6>CERTIFICATIONS</h6>
                    <img src="assets/footer1.png">
                </div>
                <div class="col-md-6">
                        <h6>CERTIFICATIONS</h6>
                        <img src="assets/footer2.png">
                </div>
            </div>

            </div>
            <div class="col-md-4">
                  
                <div class="row">
                <div class="col-md-6">
                        <h6>HELPFUL LINK</h6>
                    <ul>
                        <li><a routerLinkActive='active' routerLink='/about'>About us</a></li>
                        <li><a routerLinkActive='active' routerLink='/service'>Services</a></li>
                        <li><a routerLinkActive='active' routerLink='/staffing'>Staffing</a></li>
                        <li><a routerLinkActive='active' routerLink='/news'>News & Events</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <br>
                        <ul>
                                <li><a routerLinkActive='active' routerLink='/blog'>Blogs</a></li>
                                <li><a routerLinkActive='active' routerLink='/contact'>Contact us</a></li>
                                <li><a routerLinkActive='active' routerLink='/privacy'>Privacy Police Business</a></li>
                                <li><a routerLinkActive='active' routerLink='/game'>Privacy Police Game</a></li>
                            </ul>
                </div>
            </div>
            </div>
            <div class="col-md-4">
                <h6>SUBSCRIBE US</h6>
                    <div class="subs"><input type="text" name="email" id="emails" placeholder="Email">
                        <div class="email-ico"><img src="https://tekshapers.com/front_assets/images/email-icon.png"></div>
                    </div>

                    <div class="mark-sub"><a type="submit" id="sumit_new">Submit</a></div>

            </div>
        </div>
    </div>
</div>
