.footer{ background-color:#26536a; padding-bottom: 20px; padding-top: 20px; color: white; margin-top: 30px;}
h6{ font-weight: bold; }
.subs {
    margin-top: 25px;
    position: relative;
}
.subs input[type="text"] {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 12px;
    color: #fff;
    position: relative;
    width: 100%;
}
.email-ico {
    position: absolute;
    right: 12px;
    top: 10px;
}
.mark-sub {
    float: right;
    margin-top: 25px;
}
.mark-sub a {
    width: 130px;
    text-align: center;
    background: #0a86cd;
    display: block;
    float: right;
    border-radius: 15px;
    padding: 8px 9px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #0a86cd;
    
}
#sumit_new, #contact_us {
    cursor: pointer;
}
.col-md-6 ul li{ display: block;}
.col-md-6 ul li a{ text-decoration: none; color: white; }