.slider{ text-align: center; color: white; height: 500px; margin-top: 72px; background-image: url('/assets/crp_erp_developmet.jpg')}
.text-slider{ margin-top: 200px;}
.text-sec-crm{ margin-top: 40px; color: black;}
.sect-image{ margin-bottom: 10px; height: 300px; background-image: url('/assets/staff-section-2.jpg')}