


<h1 style="margin-top: 80px; text-align: center; margin-bottom: 20px; ">
        Our <span style="font-weight: bold">Technologies</span> 
    </h1>
<div class="tech">
        
<div class="technologi">
       <div class="container">
                    <div class="row">
                            <div class="line1">
                        <div class="col-md-3">
                            
                             <div class="collect-all animated fadeInLeft go">
                         
                                 <div class="tech-icon">
                                     <img src="https://tekshapers.com/uploads/banner_image/1519032921tech-1.png">
                                    <p style="margin-left: 25px;">iOS</p>
                                    </div>
                                 
                             </div>
                            </div>
                    </div>
                                 
                    <div class="line1">
                    <div class="col-md-3">
                             <div class="collect-all">
                         
                                 <div class="tech-icon">
                                     <img src="https://tekshapers.com/uploads/banner_image/1519032949tech-2.png">
                                     <div class="tech-title">Android</div>
                                    </div>
                                 
                             </div>
                            </div>
                            </div>
                       
                                
                            <div class="line1">
                             <div class="col-md-3">
                             <div class="collect-all">
                         
                                 <div class="tech-icon">
                                     <img src="https://tekshapers.com/uploads/banner_image/1519033014tech-4.png">
                                     <div class="tech-title">Windows</div>
                                    </div>
                                 
                             </div>
                             </div>
                            </div>
                       
                               
                           
                             <div class="col-md-3">
                             <div class="collect-all">
                         
                                 <div class="tech-icon">
                                     <img src="https://tekshapers.com/uploads/banner_image/1519033046tech-5.png">
                                     <div class="tech-title">MySQL</div>
                                    </div>
                                 
                             </div>
                             </div>
                            

                    </div>
                         
                    <div class="line2"></div>
                                  <div class="row">

                                        <div class="line1">
                                        <div class="col-md-3">      
                             <div class="collect-all">
                         
                                 <div class="tech-icon">
                                     <img src="https://tekshapers.com/uploads/banner_image/1519033069tech-6.png">
                                     <p style="width: 58;">MSSQL</p> 
                                    </div>
                                 
                             </div></div></div>
                         
                             <div class="line1">
                             <div class="col-md-3">           
                             <div class="collect-all">
                         
                                 <div class="tech-icon">
                                     <img src="https://tekshapers.com/uploads/banner_image/tech-7.png">
                                     <div class="tech-title">MongoDB</div>
                                    </div>
                                 
                             </div>
                             </div>
                            </div>
                       
                            <div class="line1">
                             <div class="col-md-3">          
                             <div class="collect-all">
                         
                                 <div class="tech-icon">
                                     <img src="https://tekshapers.com/uploads/banner_image/tech-8.png">
                                     <div class="tech-title">PHP</div>
                                    </div>
                                 
                             </div>
                             </div>
                            </div>
                     
                             <div class="col-md-3">       
                             <div class="collect-all">
                         
                                 <div class="tech-icon">
                                     <img src="https://tekshapers.com/uploads/banner_image/tech-9.png">
                                     <p>Java</p>
                                    </div>
                                 
                             </div>
                             </div>
                        
                                     
                     
                     
                     
                      
                 
                               
                     
                     
                            </div>

                            </div>

</div>
</div>
