<div class="slider">
        <div class="container">
            
            <div class="slider-text">
                 <h1>Industries</h1>
                 <h6>Execute Imperative & Unique Solution for Different Industries</h6>
                 <p>Deep domain expertise to help you to reshape your business and transform your enterprise with innovative software solutions. Help your industry business to run faster with the superior capabilities of comprehensive business management suite.</p>
             </div>
         </div>
     </div>
     <div class="cl"></div>
     <div class="Industries-sec">
         <div class="container">
                 <h1 style="margin-top: 80px; text-align: center; margin-bottom: 20px; ">
                     Our <span style="font-weight: bold">Industries</span> 
                 </h1>
                 
             <div class="row">
                 <div class="col-md-4">
                     <div class="images-box">
                         <img src="assets/industries-image1.png">
                     </div>
                     <div class="text-images">
                             <h4>Logistics Shipping</h4>   
                     </div>
                 </div>
                 <div class="col-md-4">
                         <div class="images-box">
                                 <img src="assets/industries-image1.png">
                             </div>
                             <div class="text-images">
                                     <h4>Logistics Shipping</h4>   
                             </div>
                 </div>
                 <div class="col-md-4">
                         <div class="images-box">
                                 <img src="assets/industries-image1.png">
                             </div>
                             <div class="text-images">
                                     <h4>Logistics Shipping</h4>   
                             </div>
                 </div>
             </div>
             <div class="row">
                     <div class="col-md-4">
                             <div class="images-box">
                                     <img src="assets/industries-image1.png">
                                 </div>
                                 <div class="text-images">
                                         <h4>Logistics Shipping</h4>   
                                 </div>
                     </div>
                     <div class="col-md-4">
                             <div class="images-box">
                                     <img src="assets/industries-image1.png">
                                 </div>
                                 <div class="text-images">
                                         <h4>Logistics Shipping</h4>   
                                 </div>
                     </div>
                     <div class="col-md-4">
                             <div class="images-box">
                                     <img src="assets/industries-image1.png">
                                 </div>
                                 <div class="text-images">
                                         <h4>Logistics Shipping</h4>   
                                 </div>
                     </div>
                 </div>
         </div>
     </div>
     <app-footer></app-footer>