
<h1 style="margin-top: 80px; text-align: center; margin-bottom: 20px; ">
        Our <span style="font-weight: bold">Know More</span> 
    </h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
                <div class="view overlay zoom">
                        <img style="height: 350px;" src="assets/blog-banner1.png" class="img-fluid " alt="smaple image">
                        

                        <div class="know-right-content">
                            <p><a href="#">How real time features are playing a vital role in the success of app development</a></p>
                            <ul>
                                <li>07-Jun-2019</li> 
                                <li>Product Development</li>
                            </ul>
                        </div>
                    </div>


                    <div class="sec-image2">
            <div class="row">
                <div class="col-md-6">

                        <div class="view overlay zoom">
                                <img  src="assets/blog-banner1.png" class="img-fluid " alt="smaple image">
                                
                                <div class="double-left-content">
                                    <p><a href="#">Can online retail and E commerce gain big optimizing supply chain management</a></p>
                                    <ul>
                                        <li>14-Jun-2019</li> 
                                    <li>Ecommerce</li>
                                    </ul>
                                </div>

                            </div>
                </div>
                <div class="col-md-6">
                        <div class="view overlay zoom">
                                <img  src="assets/blog-banner1.png" class="img-fluid " alt="smaple image">
                                
                                <div class="double-left-content">
                                    <p><a href="#">Can online retail and E commerce gain big optimizing supply chain management</a></p>
                                    <ul>
                                        <li>14-Jun-2019</li> 
                                    <li>Ecommerce</li>
                                    </ul>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    
    </div>
            
            

        
        <div class="col-md-6">
                <div class="view overlay zoom">
                        <img style="height: 500px;" src="assets/blog-banner1.png" class="img-fluid " alt="smaple image">
                        
                        <div class="know-right-content">
                            <p><a href="#">How real time features are playing a vital role in the success of app development</a></p>
                            <ul>
                                <li>07-Jun-2019</li> 
                                <li>Product Development</li>
                            </ul>
                        </div>
                        
                    </div>

        </div>
    </div>
</div>






