
<h1 style="margin-top: 80px; text-align: center; margin-bottom: 20px; ">
        Our <span style="font-weight: bold">Know More</span> 
    </h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
                <div class="view overlay zoom">
                        <img style="height: 350px;" src="assets/blog-banner1.png" class="img-fluid " alt="smaple image">
                        
                    </div>


                    <div class="sec-image2">
            <div class="row">
                <div class="col-md-6">

                        <div class="view overlay zoom">
                                <img  src="assets/blog-banner1.png" class="img-fluid " alt="smaple image">
                                
                            </div>
                </div>
                <div class="col-md-6">
                        <div class="view overlay zoom">
                                <img  src="assets/blog-banner1.png" class="img-fluid " alt="smaple image">
                                
                            </div>
                </div>
            </div>
        </div>
    
    </div>
            
            

        
        <div class="col-md-6">
                <div class="view overlay zoom">
                        <img style="height: 500px;" src="assets/blog-banner1.png" class="img-fluid " alt="smaple image">
                        <div class="mask flex-center">
                            <p class="white-text">Zoom effect</p>
                        </div>
                    </div>
        </div>
    </div>
</div>






