.bg-blog{ background-color: hsl(0, 0%, 97%); padding-top: 100px; padding-bottom: 30px;}
.container{max-width: 1319px;}
.text-date{ margin-top: 20px;}
.text-date a{ color: black; font-weight: bold; text-decoration: none;}
.sec1 img{
    border-radius: 20px;
    }